@import './constants//colours.scss';

@font-face {
    font-family: Avenir;
    src: url("assets/fonts/Avenir/AvenirLTStd-Book.otf") format("opentype");
}

html, body, #root, .App {
  display: flex;
  flex: 1;
  font-family: 'Avenir', 'Courier New', Courier, monospace;
}

.App {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/BG.svg');
  background-size: 100%;
}
